*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration:none;}
i,em{font-style: normal;}
b,strong{font-weight: normal;}

img{vertical-align: middle; border: none;}
html{
  font-size: 26.6vw;
  height: 100%;
}
body{
  font-size: 16px;
  height: 100%;
  overflow: auto;
  font-family: YouYuan !important;
 /* background-color: tomato; */
}
#root {
  height: 100%;
}
.safe {
max-width: calc( 1240px - 4em );
margin: auto;
/* background-color: #f3f7f6; */
}
.clear:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
canvas {
  background-color: #f3f3f3 !important;
}