.circle-nav-banner::after {
    content: '';
    display: inline-block;
    background: linear-gradient(180deg, #b3b6b8 0%, #1c110a 100%);
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
}