.found-nav-banner {
    width: 100%;
    height: 525px;
    position: relative;
  position: absolute;
  top: 0;
}
.found-nav-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .found-nav-banner::after{
    background: linear-gradient(to right, rgba(0,0,0,0.6) , rgba(0,0,0,0.9) 95%);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
} */
.found-nav-list-con {
  
    height: 150px;
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    position: relative;
  
}
.found-cate-list {
    padding: 10px;
    border: 2px solid #707070;
    border-right: none;
    box-sizing: border-box;
}
.ant-dropdown-link {
    color: black !important;
}
.found-cate-list > span {
    margin-right: 15px;
}
.found-cate-sorce {
    padding: 10px;
    border: 2px solid #707070;
    box-sizing: content-box;
   width: 65px;
   text-align: center;
    
}
.found-cate-sorce > span {
    margin-right: 15px;
}
.found-search {
    position: absolute;
    right: 20px;
    /* width: 221px;
    height: 38px;
    background-color: blue; */
    border: 2px solid #707070;

}
.found-search .ant-input {
    height: 39px;
    border: none;
    box-shadow: none;
    /* outline: none; */
    /* background-color: transparent; */
}
/* .found-search .ant-input:focus {
    background-color: #fff;
} */
.found-search button {
    border: none;
    width: 30px;
    height: 39px;
}
.found-search button:hover {
    color: #e5c37c !important;
}
.cate-contain  {
    position: absolute;
    top: 665px;
    /* height: 500px; */
    padding-bottom: 50px;
    width: 83%;
  
}
.cate-list {
    float: left;
    width: 210px;
    height: 308px;
    background-color:white;
    margin-right: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.ant-dropdown-menu { 
    margin-top: 10px;
    margin-left: -24px;
    background-color: #f7f7f7;
}
.ant-dropdown-menu-item:hover {
    background-color: white;
}
.ant-dropdown-menu-item:hover .found-nav-up{
  color: #e5c37c !important;
}
.found-nav-up {
    float: right;
    margin-left: 10px;
}
.cate-list-img {
    width: 100%;
    height: 158px;
    border-radius: 6px 6px 0 0 ;

}
.cate-list-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0 ;
}
.cate-list-main {
    width: 100%;
    height: 100px;
    padding: 16px;
    position: relative;
    border-bottom: 1px solid #bbb;
}
.cate-list-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cate-list-classify {
    color: #e5c37c;
}
.cate-list-icon {
    position: absolute;
    bottom: 10px;
    left: 16px;
}
.cate-list-icon > span {
    font-size: 14px !important;
    color: #bbb !important;
    margin-right: 12px;
}
.cate-list-auhotor {
    display: flex;
    align-items: center;
    height: 50px;
    /* padding-left: 10px; */
    justify-content: space-evenly;

}
.cate-auhotor-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
}
.cate-auhotor-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.cate-auhotor-name {
    /* margin-left: 20px; */
    font-size: 12px;
    width: 92px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cate-auhotor-time {
    font-size: 12px;
    color: #bbb;
}
.cate-auhotor-img-tips {
    width: 500px;
}
.cate-author-tips {
    width: 320px;
    /* left: 0 !important; */
}
.cate-author-tips-name {
    /* padding: 20px !important; */
    padding: 20px 0;
    color: #e5c37c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cate-author-tips-name .cate-auhotor-img {
    width: 40px ;
    height: 40px ;
}
.cate-author-intro {
    /* width: 150px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #bbb;
}
.cate-author-intro .cate-author-intro-name {
    font-size: 16px;
    color: black;
}
.cate-author-tips-follow {
    width: 70px;
    height: 30px;
    background-color: #e5c37c;
    color: white;
   text-align: center;
   line-height: 32px;
   border-radius: 4px;
   font-size: 14px;
}
.cate-author-tips-content {
    padding: 10px;
}
.cate-author-tips-content > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cate-author-tips-icon > span {
    color: #bbb !important;
    margin-right: 10px;
    font-size: 14px !important;
}
.cate-contain .popular-pagin {
    width: 272px;
    margin: auto;
}
.found-list-contain {
    margin-top: 500px;
}
.found-list-header span:first-of-type{
    font-size: 55px !important;
    color: #0f8b8d;
    font-weight: bold;
}
.found-list-header span:nth-of-type(2){
    font-size: 25px ;
    font-weight: bold;
    margin-left: 20px;
}
.found-list {
    width: 530px;
    min-height: 420px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 4%);
    border-radius: 10px;
    border:1px solid #eeeeee;
    transition: 0.5s;
}
.found-list:hover {
    transition: 0.5s;
    border-color: #e5c37c;
}
.found-list-img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    
    overflow: hidden;
}
.found-list-img:hover img{
   transform: scale(1.05);
   transition: 0.3s;
}
.found-list-img img{
transition: 0.3s;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.found-list-cate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    border-bottom:1px solid #eeeeee;
}
.found-list-cate span:first-of-type {
    font-size: 20px;
    font-weight: bold;
}
.found-list-content {
    padding: 30px;
    height: 127px;
    overflow: hidden;
}
.found-list-content-label {
    background-color: #f6f6f6;
    color: #8590a6;
    font-size: 12px;
    padding: 0 8px;
    margin-right: 20px;
}
.found-list-article {
    margin-bottom: 10px;
}
.anticon svg {
    vertical-align: inherit;
}
.found-list-content-n {
    display: inline-block;
    width: 100%;
    height: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.ant-pagination-item-active {
    border-color: #e5c37c;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
color: #0f8b8d !important;
}
.ant-drawer-mask {
    background-color: rgba(0,0,0,.15);
}
.demo-infinite-container {
    height: 300px;
    padding: 8px 24px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }