.user-contain {
    position: absolute;
    top: 595px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2000px;
}
.user-my-contain {
    width: 304px;
    height: 354px;
    /* background-color: blanchedalmond; */
    /* float: left; */
    border:1px solid #eeeeee;
    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 4%);
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.user-my-img {
    width: 120px;
    height: 120px;
    background-color: white;
    /* top: -60px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute; */
    margin-top: -60px;
    padding: 10px;
    margin-left: 60px;
}
.user-my-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.user-my-contain:hover {
    transition: 0.5s;
    border-color: #e5c37c;
}
.user-my-contain p {
    text-align: center;
}

.user-my-contain p:first-of-type {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.user-my-contain p:nth-of-type(2) {
    color: #909399;
    font-size: 14px;
}
.user-my-aboutlist {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:1px solid #eeeeee;
}
.user-my-aboutlist > div {
    display: flex;
    flex-direction: column;
}
.user-my-aboutlist > div > span {
    display: block;
    text-align: center;
}
.user-my-aboutlist > div > span:first-of-type {
    /* font-size: 16px; */
    /* font-weight: bold; */
    /* color: #e5c37c; */
}
.user-my-aboutlist > div > span:nth-of-type(2) {
    /* font-size: 16px; */
    font-weight: bold;
    color: #0f8b8d;
}
.user-contain-left {
   float: left;
   display: flx;
   flex-direction: column;
}
.social-ext-title {
    color: #707070;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
    margin-bottom: 5px;
}
.social-ext-title::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 32%;
    height: 13px;
    background-color: #e5c37c;
    left: 0;
    bottom: 5px;
    opacity: 0.6;
    z-index: -1;

}
.social-ext-contain {
    margin-top: 30px;

}
.social-list {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    /* padding-top: 0; */
    display: flex;
    padding-bottom: 20px;
    border-bottom:1px solid #eeeeee;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid white;
    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 4%);
}
.social-list:hover {
    transition: 0.5s;
    border: 1px solid #e5c37c;
}
.social-list-img {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: white;
    /* margin-top: 10px; */
}
.social-list-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.social-list-content {
   line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.social-list-content span:first-of-type {
  font-weight: bold;
}
.social-list-content span:nth-of-type(2) {
    color: #707070;
}
.social-more {
    padding: 5px 20px;
    border: 2px solid #e5c37c;
    color: #e5c37c;
}
.social-more:hover {
    border: 2px solid #0f8b8d;
    transition: 0.5s;
}
.user-label-contain {
    margin-top: 20px;
    width: 304px;
    height: 354px;
    border:1px solid #eeeeee;
    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 4%);
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.user-label-header {
    font-size: 18px !important;
}
.user-label-list-contain {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 248px;

}
.user-label-list {
    padding: 5px 10px;
    color: white;
    background-color: #e5c37c;
    margin-right: 5px;
    margin-bottom: 10px;
}
.user-label-list:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #0f8b8d;
}
.user-contain-right {
    float: right;
}
.suggested-users {
    width: 860px;
    height: 480px;
    background-color: white;
}
.suggested-users-header {
    width: 100%;
    height: 90px;
    /* background-color: aqua; */
    border-top: 1px solid #909399 ;
    border-bottom: 1px solid #909399;
    line-height: 90px;
}
.suggested-users-header span:first-of-type{
    font-size: 30px;
    color: #0f8b8d;
    margin-left: 40px;
}
.suggested-users-header span:nth-of-type(2){
    color: #0f8b8d;
    margin-left: 40px;
    margin-right: 40px;
}
.suggested-users-header span:nth-of-type(3){
    color: #0f8b8d;
    margin-right: 40px;
}
.suggested-users-list-li {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.suggested-users-list {
    display: flex;
    justify-content: space-evenly;
    width: 270px;
    height: 150px;
    /* background-color: bisque; */
    align-items: center;
    border:1px solid #eeeeee;
    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 4%);
    margin-bottom: 20px;
}
.suggested-users-list-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
}
.suggested-users-list-img img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.suggested-users-list-content {
    display: flex;
    flex-direction: column;
}
.suggested-users-list-content span:first-of-type {
    font-size: 18px;
    font-weight: bold;
}
.suggested-users-list-content span:nth-of-type(2) {
    font-size: 12px;
}
.suggested-users-list-content span:nth-of-type(3) {
    font-size: 12px;
    color: #707070;
}
.suggested-users-list-attention {
    padding: 5px 10px;
    background-color: #e5c37c;
    color: white;
    border-radius: 3px;
}
.suggested-users-list-attention:hover {
    background-color: #0f8b8d;
    transition: 0.3s;
    cursor: pointer;
}
.suggested-users {
    margin-bottom: 40px;
}
.user-search-contain {
    width: 850px;
    height: 360px;
    background-color: white;
    margin-bottom: 30px;
    padding: 80px 15px;
    border:1px solid #eeeeee;
    box-shadow: 3px 0px 5px 0px rgb(0 0 0 / 4%);

}
.user-search {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #0f8b8d;
}
.user-search-group {
    width: 710px;
    height: 60px;
    margin: auto;
    /* background-color: violet; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.user-search-input {
    width: 521px;
    height: 60px;
    background-color: turquoise;
}
.user-search-input > input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(63,137,140,0.5);
    padding: 20px 20px;
    color: white;
}
.user-search-submit {
    width: 160px;
    height: 60px;
    font-size: 20px;
    background-color: #e5c37c;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: white;
    /* background-color:; */
}
.user-search-input > input::-webkit-input-placeholder {
    color:white;
}